# Site settings
title: 깨달음으로 가는 길
email: dhson@office.knu.ac.kr
description: >-
  가장 높은 깨달음을 향해.
github_username: DelosIndustry

# (권장) 한국어/시간대
locale: "ko-KR"
timezone: "Asia/Seoul"

minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  math_engine: mathjax

remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/

include:
  - _pages

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Hyun Son"
  avatar : "/assets/images/face.png"
  bio    : "가장 높은 깨달음을 향해."
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/DelosIndustry"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:dhson@office.knu.ac.kr"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/DelosIndustry"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:dhson@office.knu.ac.kr"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      sidebar:
        nav: "sidebar-category"   # ★ 좌측 토글 메뉴

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      sidebar:
        nav: "sidebar-category"   # ★ 좌측 토글 메뉴

category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/